.icon{
    width: 65px;
}

.city{
    color: rgba(44,55,61,.8);
    font-size: 22px;
    margin: 0;
}
.weather{
    font-size: 18px;
    color: rgba(44,55,61,.8);
    margin: 0;   
}

.temp{
    font-size: 1.6em;
    color: rgba(44,55,61,1);
    padding: 4px;
    margin: 0;
       
}

   
.cntweather{ 
    text-align: center;
    margin: auto; 
    padding:  12px 4px;
    background: rgba(228,207,190,.5) ;
    position: absolute;
}
